[submodule "tcc"]
	path = tcc
	url = https://github.com/adamsch1/tcc
[submodule "libuv"]
	path = libuv
	url = https://github.com/adamsch1/libuv.git
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/joyent/http-parser.git
